<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="loveq.rc.gsondemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.MappingActivity">
        </activity>
        <activity android:name=".ui.mapping.ObjToJsonActivity">
        </activity>
        <activity android:name=".ui.mapping.JsonToObjActivity"/>
        <activity android:name=".ui.mapping.NestedObjectsActivity"/>
        <activity android:name=".ui.mapping.JsonToNestedObjectsActivity"/>
        <activity android:name=".ui.mapping.NestedListToJsonActivity"/>
        <activity android:name=".ui.mapping.JsonToNestedListActivity"/>
        <activity android:name=".ui.mapping.ListToJsonActivity"/>
        <activity android:name=".ui.mapping.JsonToArrayActivity"/>
        <activity android:name=".ui.mapping.JsonToListActivity"/>
        <activity android:name=".ui.mapping.MapToJsonActivity"/>
        <activity android:name=".ui.mapping.JsonToMapActivity"/>
        <activity android:name=".ui.mapping.SetToJsonActivity"/>
        <activity android:name=".ui.mapping.JsonToSetActivity"/>
        <activity android:name=".ui.mapping.NullValuesActivity"/>
    </application>

</manifest>